## 00 Read CSV file

- ทำความเข้าใจว่าแต่ละไฟล์ประกอบด้วย column อะไรบ้าง 
- จะใช้ไฟล์ไหนในการทำอะไร

### Clone Dataset มาแล้วประกอบด้วยโฟลเดอร์อะไรบ้าง

#### archived data

#### CSSE Covid 19 Data

- Center for Systems Science and Engineering (CSSE)
- [CSSE](https://systems.jhu.edu/)
- Johns Hopkins University (JHU)
- (คนทำ dataset นี้)

#### WHO Covid 19 Situation reports

- World Health Organization (WHO)

In [1]:
import pandas as pd
import numpy as np

In [ ]:
import git

# clone
REPO_PATH = "https://github.com/CSSEGISandData/COVID-19"
git.Git().clone(REPO_PATH)

# 
## CSSE

### csse_covid_19_daily_reports

In [2]:
df = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/07-30-2020.csv")

In [3]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-07-31 04:35:18,34.223334,-82.461707,285,7,0,278.0,"Abbeville, South Carolina, US",1161.984751,2.456140
1,22001.0,Acadia,Louisiana,US,2020-07-31 04:35:18,30.295065,-92.414197,2299,71,0,2228.0,"Acadia, Louisiana, US",3705.375131,3.088299
2,51001.0,Accomack,Virginia,US,2020-07-31 04:35:18,37.767072,-75.632346,1074,15,0,1059.0,"Accomack, Virginia, US",3323.431118,1.396648
3,16001.0,Ada,Idaho,US,2020-07-31 04:35:18,43.452658,-116.241552,7681,55,0,7626.0,"Ada, Idaho, US",1594.935079,0.716053
4,19001.0,Adair,Iowa,US,2020-07-31 04:35:18,41.330756,-94.471059,20,0,0,20.0,"Adair, Iowa, US",279.642058,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3930,NaN,NaN,Unknown,Colombia,2020-07-17 22:34:48,NaN,NaN,0,0,0,0.0,"Unknown, Colombia",NaN,NaN
3931,2070.0,Dillingham,Alaska,US,2020-07-17 18:35:12,59.796037,-158.238194,1,0,0,1.0,"Dillingham, Alaska, US",20.341741,0.000000
3932,NaN,NaN,Grand Princess,Canada,2020-07-13 12:34:33,NaN,NaN,13,0,13,0.0,"Grand Princess, Canada",NaN,0.000000
3933,16061.0,Lewis,Idaho,US,2020-07-10 02:34:22,46.233153,-116.434146,1,0,0,1.0,"Lewis, Idaho, US",26.055237,0.000000
3934,41069.0,Wheeler,Oregon,US,2020-07-06 19:33:59,44.726982,-120.028143,0,0,0,0.0,"Wheeler, Oregon, US",0.000000,NaN

In [4]:
countries_1 = np.unique(df['Country_Region'])
countries_1

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [5]:
countries_1.shape

(188,)

In [6]:
df.groupby(['Province_State', 'Country_Region']).count()

,,FIPS,Admin2,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
Province_State,Country_Region,,,,,,,,,,,,
Abruzzo,Italy,0,0,1,1,1,1,1,1,1,1,1,1
Acre,Brazil,0,0,1,1,1,1,1,1,1,1,1,1
Adygea Republic,Russia,0,0,1,1,1,1,1,1,1,1,1,1
Aguascalientes,Mexico,0,0,1,1,1,1,1,1,1,1,1,1
Aichi,Japan,0,0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zaporizhia Oblast,Ukraine,0,0,1,1,1,1,1,1,1,1,1,1
Zeeland,Netherlands,0,0,1,1,1,1,1,1,1,1,1,1
Zhejiang,China,0,0,1,1,1,1,1,1,1,1,1,1
Zhytomyr Oblast,Ukraine,0,0,1,1,1,1,1,1,1,1,1,1
Zuid-Holland,Netherlands,0,0,1,1,1,1,1,1,1,1,1,1

> **Admin2**: County name. US only.

- บางประเทศจะมีข้อมูล Province/State
- ใน US จะมีถึง County

In [7]:
df = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv")

In [8]:
np.unique(df['Country_Region'])

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan*', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
np.unique(df['Country_Region']).shape

(180,)

##

### csse_covid_19_time_series

- แบ่งเป็นแบบ global vs US
- แบ่งเป็น case `confirmed`, `death`, `recovered`

#### idea

- สนใจแบบ global

In [10]:
df = pd.read_csv("./COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

In [11]:
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,35615,35727,35928,35981,36036,36157,36263,36368,36471,36542
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,4290,4358,4466,4570,4637,4763,4880,4997,5105,5197
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,24278,24872,25484,26159,26764,27357,27973,28615,29229,29831
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,884,889,889,897,897,897,907,907,918,922
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,779,812,851,880,916,932,950,1000,1078,1109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186400,6.613100,0,0,0,0,0,0,...,746,747,749,860,862,863,865,867,868,870
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1629,1640,1654,1674,1674,1681,1691,1703,1711,1726
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,337,337,340,340,340,354,354,354,378,378
264,NaN,Tajikistan,38.861000,71.276100,0,0,0,0,0,0,...,6967,7015,7060,7104,7150,7192,7235,7276,7320,7366
265,NaN,Lesotho,-29.610000,28.233600,0,0,0,0,0,0,...,359,359,359,359,419,505,505,505,576,604

In [12]:
countries_2 = np.unique(df['Country/Region'])
countries_2

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [13]:
countries_2.shape

(188,)

In [14]:
countries_1 == countries_2

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

> ข้อมูลประเทศใน daily กับ timeseries เหมือนกัน

- เอาชื่อประเทศไปใช้งานร่วมกันได้

In [15]:
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20,7/28/20,7/29/20,7/30/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,35615,35727,35928,35981,36036,36157,36263,36368,36471,36542
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,4290,4358,4466,4570,4637,4763,4880,4997,5105,5197
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,24278,24872,25484,26159,26764,27357,27973,28615,29229,29831
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,884,889,889,897,897,897,907,907,918,922
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,779,812,851,880,916,932,950,1000,1078,1109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186400,6.613100,0,0,0,0,0,0,...,746,747,749,860,862,863,865,867,868,870
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1629,1640,1654,1674,1674,1681,1691,1703,1711,1726
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,337,337,340,340,340,354,354,354,378,378
264,NaN,Tajikistan,38.861000,71.276100,0,0,0,0,0,0,...,6967,7015,7060,7104,7150,7192,7235,7276,7320,7366
265,NaN,Lesotho,-29.610000,28.233600,0,0,0,0,0,0,...,359,359,359,359,419,505,505,505,576,604

### สรุป csse_covid_19_daily_reports

- file naming format `MM-DD-YYYY`
- ข้อมูลเริ่มตั้งแต่ 04-12-2020
- column ชื่อประเทศไม่มีปัญหาอะไร
- มีข้อมูล `confirmed`, `recovered`, `death`, `active`

#### idea

- สามารถใช้ข้อมูลระดับ country + `sum()`
- หรือระดับ (state + country) + `sum()`

### สรุป csse_covid_19_time_series

- column date format `M/DD/YYYY`
- ข้อมูลแบบ wide วันที่ = column
    - เพิ่มวันที่ ก็จะเพิ่ม column ไปเรื่อยๆ
    
#### idea

- plot time series ได้ง่าย
- plot geospatial ได้ จากชื่อประเทศ

> ด้านชื่อประเทศ daily vs time series ข้อมูลตรงกัน

### ข้อมูลรายละเอียด column อ่านเพิ่มเติมได้ที่ README
#### https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data

# 
## WHO

situation reports

### who_covid_19_sit_rep_time_series

In [16]:
df = pd.read_csv("./COVID-19/who_covid_19_situation_reports/who_covid_19_sit_rep_time_series/who_covid_19_sit_rep_time_series.csv")

In [17]:
df

,Province/States,Country/Region,WHO region,1/21/20,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20,6/16/20,6/17/20,6/18/20,6/19/20
0,Confirmed,Globally,NaN,282.0,314.0,581.0,846.0,1320.0,2014.0,2798.0,...,7145539.0,7273958.0,7410510.0,7553182.0,7690708.0,7823289.0,7941791.0,8061550.0,8242999.0,8385440.0
1,Deaths,Globally,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,408025.0,413372.0,418294.0,423349.0,427630.0,431541.0,434796.0,440290.0,445535.0,450686.0
2,Confirmed,China,Western Pacific Region,278.0,309.0,571.0,830.0,1297.0,1985.0,2741.0,...,84641.0,84652.0,84659.0,84659.0,84729.0,84778.0,84823.0,84867.0,84903.0,84940.0
3,Confirmed,Outside of China,NaN,4.0,5.0,10.0,16.0,23.0,29.0,57.0,...,7060898.0,7189306.0,7325851.0,7468523.0,7605979.0,7738511.0,7856968.0,7976683.0,8158096.0,8300500.0
4,Deaths,China,Western Pacific Region,NaN,NaN,NaN,NaN,NaN,NaN,80.0,...,4645.0,4645.0,4645.0,4645.0,4645.0,4645.0,4645.0,4645.0,4645.0,4645.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,Deaths,NaN,Eastern Mediterranean Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15246.0,15581.0,15947.0,16260.0,16640.0,17077.0,17558.0,18057.0,18575.0,19041.0
264,Confirmed,NaN,Region of the Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3415174.0,3485245.0,3560591.0,3638525.0,3711768.0,3781538.0,3841609.0,3899859.0,4015386.0,4092526.0
265,Deaths,NaN,Region of the Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185863.0,189544.0,192944.0,196440.0,199252.0,201848.0,203574.0,205555.0,208991.0,212517.0
266,Confirmed,NaN,African Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,145287.0,150102.0,155762.0,161254.0,167566.0,175503.0,181903.0,187625.0,194539.0,201178.0
267,Deaths,NaN,African Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3493.0,3593.0,3700.0,3867.0,3998.0,4111.0,4235.0,4346.0,4482.0,4595.0

In [18]:
# handle error for 'restart and run all cell'

try:
    np.unique(df['Province/States'])
except Exception as e:
    print(e)

'<' not supported between instances of 'float' and 'str'

> This is due to the series `df[col]` containing elements that have varying data types e.g.(strings and/or floats). [stack overflow](https://stackoverflow.com/questions/46406720/labelencoder-typeerror-not-supported-between-instances-of-float-and-str)

In [19]:
df['Province/States'].isna().sum()

215

> มี nan row

In [20]:
np.unique(df['Province/States'].dropna())

array(['Anhui', 'Beijing', 'Case on an international conveyance',
       'Chongqing', 'Confirmed', 'Deaths', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei ', 'Hunan', 'Inner Mongolia', 'Jiangsu',
       'Jiangxi', 'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai',
       'Shaanxi', 'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Taiwan',
       'Tianjin', 'Unspecified*', 'Xinjiang', 'Xizang', 'Yunnan',
       'Zhejiang'], dtype=object)

#### value แปลกๆ

- Confirmed
- Deaths
- Unspecified*
- Case on an international conveyance

In [21]:
df['Province/States'].value_counts()

Confirmed                              9
Deaths                                 8
Qinghai                                1
Heilongjiang                           1
Jilin                                  1
Macau                                  1
Chongqing                              1
Hong Kong                              1
Fujian                                 1
Guangdong                              1
Shandong                               1
Case on an international conveyance    1
Guizhou                                1
Jiangxi                                1
Zhejiang                               1
Shanxi                                 1
Xizang                                 1
Ningxia                                1
Anhui                                  1
Inner Mongolia                         1
Hunan                                  1
Unspecified*                           1
Liaoning                               1
Guangxi                                1
Gansu                                  1
Sichuan                                1
Yunnan                                 1
Shanghai                               1
Henan                                  1
Hebei                                  1
Shaanxi                                1
Taiwan                                 1
Hubei                                  1
Tianjin                                1
Xinjiang                               1
Hainan                                 1
Jiangsu                                1
Beijing                                1
Name: Province/States, dtype: int64

In [22]:
# handle error for 'restart and run all cell'

try:
    np.unique(df['Country/Region'])
except Exception as e:
    print(e)

'<' not supported between instances of 'float' and 'str'

In [23]:
np.unique(df['Country/Region'].dropna())

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire, Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia', 'Côte d’Ivoire',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Globally', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Other',
       'Outside of China', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Réunion',
       'Saint Barthélemy', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'São Tomé and Príncipe',
       'Tajikistan', 'Thailand', 'The United Kingdom', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States Virgin Islands', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe', 'occupied Palestinian territory'], dtype=object)

# 
## สรุป

- ใช้ข้อมูลจาก CSSE
    - มีการอัพเดท
    - clean
- ไม่ใช้ข้อมูลจาก WHO